<div class="container-fluid no-padding">
  <h1>Booking List (<%= @filter %>)</h1>
</div>

<div class="col-md-12 col-sm-12">
  <ul class="btn-container">
    <li><%= button_to "Show All Bookings", bookings_path, :method => "get", class: "btn btn-large btn-light booking-btn inline", params: {all_bookings: true} %></li>
    <li><%= button_to "Show Rejected Bookings", bookings_path, :method => "get", class: "btn btn-large btn-light booking-btn inline", params: {rejected_bookings: true} %></li>
    <li><%= button_to "Show Approved Bookings", bookings_path, :method => "get", class: "btn btn-large btn-light booking-btn inline", params: {approved_bookings: true} %></li>
    <li><%= button_to "Show Pending Bookings", bookings_path, method: "get", class: "btn btn-large btn-light booking-btn inline" %></li>
    <li><%= button_to "Make New Booking", new_booking_path, method: "get", class: "btn btn-info submit-btn booking-btn inline" %></li>
    <li class="dropdown">
      <a href="javascript:;" class="dropdown-toggle btn btn-info" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
        Filters
      </a>

      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <%= form_tag('/bookings', method: :get) do%>
          <div class="filter-option filter-header"><b>Select items:</b></div>
          <div class="filter-option filter-list"><%= select_tag "items", options_for_select(Item.all.order(:name).map { |i| [i.name, i.id]}, selected: @item_list),  multiple: true%></div>
          <div class="filter-option filter-btn"><%= submit_tag("Filter") %></div>
        <% end %>
      </ul>
    </li>
  </ul>

  <div class="table-responsive">
      <div class="col-md-12 scrollable">
        <table class="table booking-table">
          <tr>
            <th class="status">Status</th>
            <th class="user">User</th>
            <th class="item">Item</th>
            <th class="quantity">Quantity</th>
            <th class="desc">Description</th>
            <th class="time">Start Time</th>
            <th class="time">End Time</th>
            <th class="empty"></th>
            <th class="empty"></th>
            <th class="empty"></th>
            <th class="empty"></th>
          </tr>
          <% @bookings.each do |b| %>
            <tr>
              <td class="status"><%= b.status %></td>
              <td class="user"><%= b.user.username %></td>
              <td class="user"><%= link_to b.item.name, item_path(b.item_id) %></td>
              <td class="quantity"><%= b.quantity %></td>
              <td class="desc"><%= truncate(b.description, :length => 30) %></td>
              <td class="time"><%= b.start_time.strftime('%a, %d %b %Y %H:%M') %></td>
              <td class="time"><%= b.end_time.strftime('%a, %d %b %Y %H:%M') %></td>
              <td class="show"><%= link_to 'Show more', booking_path(b) %></td>
              <td class="edit">
                 <% if b.status == "pending" || can?(:show_full, User)%>
                  <%= link_to 'Edit Booking', edit_booking_path(b) %>
                <% end %>  
              </td>  
              <% if can?(:show_full, User) %>
                <% if b.status == "approved" %>
                  <td></td>
                  <td><%= form_tag(booking_path(b.id), method: "patch") do %>
                  <%= button_tag("Reject", name: 'status', value: :rejected,
                    type: 'submit', class: "btn booking-btn btn-danger")%>
                  <% end %> </td>  
                <% elsif b.status == "rejected" %>
                  <td><%= form_tag(booking_path(b.id), method: "patch") do %>
                  <%= button_tag("Approve", name: 'status', value: :approved,
                      type: 'submit', class: "btn booking-btn btn-success")%>
                  <% end %> </td> 
                  <td></td>
                <% else %>
                  <td><%= form_tag(booking_path(b.id), method: "patch") do %>
                  <%= button_tag("Approve", name: 'status', value: :approved,
                      type: 'submit', class: "btn booking-btn btn-success")%>
                  <% end %></td>
                  <td><%= form_tag(booking_path(b.id), method: "patch") do %>
                  <%= button_tag("Reject", name: 'status', value: :rejected,
                      type: 'submit', class: "btn booking-btn btn-danger")%>
                  <% end %></td> 
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
  </div>
</div>